aside{
    background-color: rgb(205, 205, 205);
    width: 220px;
    height: 750px;
    margin: 10px;
}
li {
    font-size: 13px;
}
p {
    font-size: 20px;
    margin: 10px;
}
hr {
    background-color: darkgray;
}
h2 {
    color: rgb(255, 217, 0);
}
div {
    display: flex;
    flex-direction: row;
    background-color: white;
}
main {
    margin: 15px;;
    background-color: white;
}
body {
    background-color: rgb(237, 181, 6);
}
p.KNTEU{
    font-size: 12px;
}
h1{
    font-size: 40px;
}